.texts{
    margin: auto;
    padding: 10px;
    font-size:small;
    color: black;

}
.heading1{
    font-size: medium;
}
.signup{
    width:fit-content;
    margin: auto;
    background-color: #AFD3E2;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px #19A7CE;
}
.form{
    margin: auto;
    text-align: center;
    
}
.input{
    margin: auto;
    padding: 5px;
    background-color: #F6F1F1;
}
.link{
    font-size: small;
    text-align: center;
    
}
.submitbutton{
    width: 60px;
    height:20px;
    border: none;
    outline: none;
    background: #146C94;
    color: #F6F1F1;
    border-radius:40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px #19A7CE;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.check-box{
    width: 10px;
    height: 10px;
}