
.App{
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #146C94;
  transition: width, left, right, 0.3s;
  position: relative;
  height: 100vh;
  @media only screen and (max-width: 992px) {
    margin-left: 0px;
  }}
  